/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Default variables */
/*==============Styling================*/
*,
:before,
:after {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'pt_sansregular', Arial, sans-serif;
  font-size: 14px;
  color: #778081;
  line-height: 130%;
}
html {
  opacity: 0;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
html.open {
  opacity: 1;
}
.container {
  width: 1025px;
  margin: 0 auto;
}
/*helpers*/
.left {
  float: left;
}
.right {
  float: right;
}
/*==============Header================*/
.logo {
  display: inline-block;
  vertical-align: middle;
  width: 159px;
  height: 62px;
  margin: 14px 0 0;
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -508px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -508px 0;
  }
}
.header {
  min-height: 90px;
}
.main-menu {
  margin: 34px 0 0;
  padding: 0;
  list-style: none;
}
.main-menu__burger {
  position: absolute;
  right: 28px;
  top: 33px;
  width: 28px;
  height: 22px;
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -456px 0;
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .main-menu__burger {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -456px 0;
  }
}
.main-menu__item {
  float: left;
  margin-right: 26px;
}
.main-menu__item:last-child {
  margin-right: 0;
}
.main-menu__item--link {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #778081;
  padding-bottom: 4px;
  text-decoration: none;
}
.main-menu__item--link:focus,
.main-menu__item--link:hover,
.main-menu__item--link.active {
  color: #454545;
  text-decoration: none;
  border-bottom: 2px solid #c62930;
}
.opened .main-menu__burger {
  position: fixed;
  width: 23px;
  height: 23px;
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -484px 0;
  z-index: 10;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .opened .main-menu__burger {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -484px 0;
  }
}
/*==============Header================*/
/*==============Banner================*/
.banner-img {
  height: 520px;
  position: relative;
  background-image: url(img/banner_desktop_hd.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .banner-img {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/banner_desktop_hd@2x.png);
    background-size: 100% 520px;
  }
}
.banner-img .container {
  position: relative;
}
.banner-slider {
  z-index: 10;
  padding: 0;
  margin: 0;
}
.banner-slider__holder {
  position: relative;
  width: 100%;
  padding-top: 180px;
}
.banner-slider__item {
  position: relative;
}
.banner-slider__item--caption {
  width: auto;
  padding: 20px 10px 20px 23px;
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  margin-left: 72px;
  float: left;
}
.banner-slider__item--caption-title {
  color: #fff;
  font-size: 40px;
  line-height: 130%;
  margin: 0;
}
.banner-slider__item--caption-text {
  color: #fff;
  font-size: 18px;
  line-height: 134%;
  margin: 9px 0 0;
}
.banner-slider__item--caption-info {
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  margin: 28px 0 0;
}
.banner-slider__item--caption-info .date {
  margin-left: 20px;
}
.calendar-icon {
  display: inline-block;
  vertical-align: middle;
  background: url(img/calendar.png);
  width: 32px;
  height: 31px;
}
.join-btn {
  float: right;
  font-size: 14px;
  color: #fff;
  background: #c62a31;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 24px;
  text-decoration: none;
  position: relative;
  top: -5px;
  margin-right: 50px;
}
.join-btn:focus,
.join-btn:hover {
  background: #ca2e35;
}
/* arrows left right from plugins styles*/
.bx-wrapper .bx-prev {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -420px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .bx-wrapper .bx-prev {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -420px 0;
  }
}
.bx-wrapper .bx-next {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -438px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .bx-wrapper .bx-next {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -438px 0;
  }
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 20px;
}
.bx-wrapper .bx-next {
  right: 20px;
}
/*==============/Banner================*/
/*==============Content================*/
.news,
.conference,
.members {
  float: left;
  width: 34.29%;
  margin: 47px 0 0;
}
.members {
  width: 31.20%;
}
.title {
  font-size: 24px;
  line-height: 134%;
  margin: 0 0 33px;
}
/* news list */
.feed-list {
  margin: 0;
  padding: 0 45px 0 0;
  list-style: none;
}
.feed-list__item {
  margin-bottom: 23px;
}
.feed-list__item:last-child {
  margin-bottom: 0;
}
.feed-list__item--date {
  font-size: 12px;
  line-height: 125%;
  color: #000000;
}
.feed-list__item--link {
  display: block;
  font-size: 16px;
  color: #c62a31;
  text-decoration: none;
  line-height: 125%;
  margin: 9px 0 0;
}
.feed-list__item--link:hover {
  text-decoration: underline;
}
.feed-list__item--content {
  font-size: 14px;
  color: #778081;
  line-height: 120%;
  margin: 10px 0 0;
}
/* Conference list */
.conference-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.conference-list__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 23px;
}
.conference-list__item:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 3px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #C62A31;
}
.conference-list__item:last-child {
  margin-bottom: 0;
}
.conference-list__item--date {
  font-size: 12px;
  line-height: 125%;
  color: #000000;
}
.conference-list__item--content {
  font-size: 16px;
  color: #778081;
  line-height: 125%;
  margin: 5px 0 0;
}
/* Member list*/
.member-list {
  padding: 0;
  margin: 0;
  counter-reset: ol-counter;
}
.member-list__item {
  list-style-type: none;
  position: relative;
  padding-left: 50px;
  margin-bottom: 25px;
}
.member-list__item:last-child {
  margin-bottom: 0;
}
.member-list__item:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #c62a31;
  left: 1px;
  top: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 5px 0 0;
}
.member-list__item--link {
  display: block;
  font-size: 16px;
  color: #c62a31;
  text-decoration: none;
  line-height: 125%;
}
.member-list__item--link:focus,
.member-list__item--link:hover {
  text-decoration: underline;
}
.member-list__item--content {
  font-size: 16px;
  color: #778081;
  line-height: 125%;
  margin: 0;
}
/*==============Articles============*/
.articles-holder {
  margin: 46px 0 0;
}
.article-left {
  float: left;
  width: 51.51%;
  padding-right: 30px;
}
.article-left .article__image {
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(img/photo_1.png);
  background-repeat: no-repeat;
  margin: 0 23px 23px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .article-left .article__image {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/photo_1@2x.png);
    background-size: 200px 200px;
  }
}
.article__link {
  font-size: 16px;
  color: #c62a31;
  line-height: 125%;
  text-decoration: none;
  display: block;
  margin: 0 0 28px;
}
.article__link:focus,
.article__link:hover {
  text-decoration: underline;
}
.article-right {
  float: right;
  width: 48.4%;
}
.article-right .article__image {
  float: right;
  width: 200px;
  height: 200px;
  background-image: url(img/photo_2.png);
  background-repeat: no-repeat;
  margin: 0 0 43px 23px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .article-right .article__image {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/photo_2@2x.png);
    background-size: 200px 200px;
  }
}
.article__content {
  margin-bottom: 4px;
}
.article__content p {
  line-height: 115%;
  font-size: 14px;
  color: #778081;
  margin: 0 0 16px;
}
/* social icons */
.social_holder {
  text-align: center;
  font-size: 0;
  margin: 52px 0 0;
}
.social-icon {
  display: inline-block;
  vertical-align: middle;
  width: 41px;
  height: 41px;
  margin: 0 45px;
}
.social-icon.facebook {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social-icon.facebook {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: 0 0;
  }
}
.social-icon.twitter {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -280px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social-icon.twitter {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -280px 0;
  }
}
.social-icon.linkedin {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -210px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social-icon.linkedin {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -210px 0;
  }
}
.social-icon.instagram {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -140px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social-icon.instagram {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -140px 0;
  }
}
.social-icon.google {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -70px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social-icon.google {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -70px 0;
  }
}
.social-icon.youtube {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -350px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social-icon.youtube {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -350px 0;
  }
}
/* content bg */
.content {
  background-color: #fbfbfc;
  background-image: url(img/textura.png);
  background-repeat: repeat;
  padding-bottom: 70px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .content {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/textura@2x.png);
    background-size: 1440px 1329px;
  }
}
/*===========Footer===========*/
.footer {
  background: #c62930;
  padding: 53px 0 55px;
  color: #ffffff;
  font-size: 13px;
  line-height: 115%;
  text-align: center;
}
.copy-left {
  float: left;
}
.copy-right {
  float: right;
}
.footer-menu {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 -53px;
  padding: 0;
  list-style: none;
}
.footer-menu__item {
  float: left;
  margin-right: 28px;
}
.footer-menu__item:last-child {
  margin-right: 0;
}
.footer-menu__item--link {
  color: #ffffff;
  text-decoration: none;
}
.footer-menu__item--link:focus,
.footer-menu__item--link:hover {
  text-decoration: underline;
}
/*================ Modal =============*/
.modal-open {
  overflow: hidden;
}
.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
  display: none;
}
.modal--overlay.open {
  display: block;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 544px;
  background: #fff;
}
.modal__header {
  background: #c62a31;
  margin: 0;
  padding: 14px 20px 15px;
  position: relative;
}
.modal__header--title {
  margin: 0;
  color: #fff;
  font-size: 24px;
  line-height: 130%;
}
.modal__header--close {
  position: absolute;
  top: 18px;
  right: 19px;
  width: 23px;
  height: 23px;
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: -484px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .modal__header--close {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -484px 0;
  }
}
.modal__body {
  padding: 35px 40px;
}
.modal__body--title {
  margin: 0 0 21px;
  font-size: 24px;
  color: #c62a31;
  line-height: 120%;
}
.modal__body--content {
  font-size: 16px;
  color: #778081;
  line-height: 120%;
}
.modal__body--content a {
  color: #c62a31;
  text-decoration: none;
}
.modal__body--content a:focus,
.modal__body--content a:hover {
  text-decoration: underline;
}
/*=== media template ===*/
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .banner-img {
    background-image: url(img/banner_desktop.png);
    background-repeat: no-repeat;
  }
  .banner-slider__item--caption {
    margin-left: 62px;
  }
  .bx-wrapper .bx-controls-direction a {
    margin-top: -23px;
  }
  .bx-wrapper .bx-next {
    right: 0;
  }
  .bx-wrapper .bx-prev {
    left: 0;
  }
  .banner-slider__holder {
    padding-top: 152px;
  }
  .feed-list {
    padding-right: 35px;
  }
  .news {
    width: 39.6%;
  }
  .conference {
    width: 34.6%;
  }
  .members {
    width: 25.8%;
  }
  .article-left .article__image {
    margin: 0 18px 23px 0;
  }
  .article-right .article__image {
    margin: 0 0 43px 18px;
  }
  .article-left {
    width: 50.51%;
  }
  .article-right {
    width: 49.4%;
  }
  .social_holder {
    margin: 42px 0 0;
  }
}
@media (max-width: 1200px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 1200px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 1200px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 1200px) and only screen and (min-device-pixel-ratio: 2), (max-width: 1200px) and only screen and (min-resolution: 192dpi), (max-width: 1200px) and only screen and (min-resolution: 2dppx) {
  .banner-img {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/banner_desktop@2x.png);
    background-size: 100% 520px;
  }
}
@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
  .banner-img {
    background-image: url(img/banner_tablet.png);
    background-repeat: no-repeat;
    height: 490px;
  }
  .banner-slider__holder {
    padding-top: 138px;
  }
  .bx-wrapper .bx-controls-direction a {
    display: none;
  }
  .banner-slider__item {
    text-align: center;
  }
  .banner-slider__item--caption {
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0;
  }
  .bx-wrapper .bx-controls-auto,
  .bx-wrapper .bx-pager {
    bottom: -116px;
  }
  .news {
    width: 100%;
    float: none;
  }
  .title {
    font-size: 28px;
    margin-bottom: 31px;
  }
  .feed-list__item--link {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .feed-list__item {
    margin-bottom: 32px;
  }
  .feed-list__item--content {
    font-size: 16px;
    line-height: 135%;
  }
  .conference {
    width: 62.5%;
  }
  .article-left {
    width: 100%;
    float: none;
    margin-bottom: 47px;
  }
  .article-left .article__image {
    margin: 0 31px 21px 0;
    width: 307px;
    height: 307px;
    background-image: url(img/photo_tablet_1.png);
    background-repeat: no-repeat;
  }
  .article-right {
    width: 100%;
    float: none;
  }
  .article-right .article__image {
    width: 307px;
    height: 307px;
    background-image: url(img/photo_tablet_2.png);
    background-repeat: no-repeat;
  }
  .article__link {
    font-size: 24px;
  }
  .article__content {
    margin-bottom: 0;
  }
  .article__content p {
    font-size: 18px;
    margin: 0 0 4px;
    line-height: 120%;
  }
  .social_holder {
    margin: 75px 0 0;
  }
  .social-icon {
    margin: 0 30px;
  }
  .footer-menu {
    margin-left: -13px;
  }
}
@media (max-width: 991px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 991px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 991px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 991px) and only screen and (min-device-pixel-ratio: 2), (max-width: 991px) and only screen and (min-resolution: 192dpi), (max-width: 991px) and only screen and (min-resolution: 2dppx) {
  .banner-img {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/banner_tablet@2x.png);
    background-size: 100% 490px;
  }
}
@media (max-width: 991px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 991px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 991px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 991px) and only screen and (min-device-pixel-ratio: 2), (max-width: 991px) and only screen and (min-resolution: 192dpi), (max-width: 991px) and only screen and (min-resolution: 2dppx) {
  .article-left .article__image {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/photo_tablet_1@2x.png);
    background-size: 307px 307px;
  }
}
@media (max-width: 991px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 991px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 991px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 991px) and only screen and (min-device-pixel-ratio: 2), (max-width: 991px) and only screen and (min-resolution: 192dpi), (max-width: 991px) and only screen and (min-resolution: 2dppx) {
  .article-right .article__image {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/photo_tablet_2@2x.png);
    background-size: 307px 307px;
  }
}
@media (max-width: 768px) {
  .modal {
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal__body {
    padding: 22px 20px;
  }
  .article-left .article__image {
    margin: 0 auto 21px;
    width: 280px;
    height: 280px;
    background-image: url(img/photo_mobile_1.png);
    background-repeat: no-repeat;
    float: none;
  }
  .article-right .article__image {
    margin: 0 auto 21px;
    width: 280px;
    height: 280px;
    background-image: url(img/photo_mobile_2.png);
    background-repeat: no-repeat;
    float: none;
  }
  .conference,
  .members {
    float: none;
    width: 100%;
  }
  .banner-slider__holder {
    padding-top: 20px;
  }
  .banner-slider__item--caption {
    width: auto;
    height: auto;
  }
  .main-menu {
    width: 0;
    height: 100%;
    z-index: 5;
    position: fixed;
    background: rgba(198, 42, 49, 0.7);
    top: 0;
    right: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 0;
    padding: 113px 0 0;
  }
  .main-menu__burger {
    display: block;
  }
  .main-menu__item {
    float: none;
    margin-right: 27px;
    text-align: right;
  }
  .main-menu__item:last-child {
    margin-right: 27px;
  }
  .main-menu__item--link {
    font-size: 24px;
    color: #fff;
    padding-bottom: 31px;
  }
  .main-menu__item--link:focus,
  .main-menu__item--link:hover,
  .main-menu__item--link.active {
    color: #FFA4A4;
    border-bottom: none;
  }
  .opened .main-menu {
    width: 50%;
  }
  .feed-list {
    padding-right: 0;
  }
  .social-icon {
    width: 29px;
    height: 29px;
    margin: 0 20px;
  }
  .social-icon.facebook {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: -41px 0;
  }
  .social-icon.twitter {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: -321px 0;
  }
  .social-icon.linkedin {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: -251px 0;
  }
  .social-icon.instagram {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: -181px 0;
  }
  .social-icon.google {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: -111px 0;
  }
  .social-icon.youtube {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: -391px 0;
  }
  .copy-left,
  .copy-right {
    float: none;
  }
  .footer-menu {
    margin: 20px 0;
  }
  .article-left {
    padding-right: 0;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .article-left .article__image {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/photo_mobile_1@2x.png);
    background-size: 280px 280px;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .article-right .article__image {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/photo_mobile_2@2x.png);
    background-size: 280px 280px;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .social-icon.facebook {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -41px 0;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .social-icon.twitter {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -321px 0;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .social-icon.linkedin {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -251px 0;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .social-icon.instagram {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -181px 0;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .social-icon.google {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -111px 0;
  }
}
@media (max-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 768px) and only screen and (min-device-pixel-ratio: 2), (max-width: 768px) and only screen and (min-resolution: 192dpi), (max-width: 768px) and only screen and (min-resolution: 2dppx) {
  .social-icon.youtube {
    background-size: 667px 62px;
    background-image: url('img/sprite@2x.png');
    background-position: -391px 0;
  }
}
@media (max-width: 480px) {
  .social-icon {
    margin: 0 8px;
  }
  .banner-slider__item--caption {
    padding: 23px 5px 20px 21px;
  }
  .banner-slider__item--caption-info {
    font-size: 17px;
    margin: 21px 0 0;
  }
  .banner-slider__item--caption-info .date {
    margin-left: 7px;
  }
  .banner-slider__item--caption-title {
    font-size: 32px;
    line-height: 116%;
  }
  .banner-slider__item--caption-text br {
    display: none;
  }
  .join-btn {
    display: block;
    float: none;
    width: 110px;
    margin: 28px auto 0;
  }
  .bx-wrapper .bx-controls-auto,
  .bx-wrapper .bx-pager {
    bottom: -46px;
  }
  .container {
    padding: 0 20px;
  }
  .banner-img {
    background-image: url(img/banner_mobile.png);
    background-repeat: no-repeat;
    height: 415px;
  }
}
@media (max-width: 480px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 480px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 480px) and only screen and (min-device-pixel-ratio: 2), (max-width: 480px) and only screen and (min-resolution: 192dpi), (max-width: 480px) and only screen and (min-resolution: 2dppx) {
  .banner-img {
    /* on retina, use image that's scaled by 2 */
    background-image: url(img/banner_mobile@2x.png);
    background-size: 100% 415px;
  }
}
