@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTS55F-webfont.woff') format('woff'),
  url('../fonts/PTS55F-webfont.ttf') format('truetype'),
  url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}