@import "elements";
@import "fonts";
@import "variables";
/*==============Styling================*/
*,
:before,
:after {
  .box-sizing(border-box);
}
body {
  font-family: @base-font;
  font-size: @font-size-content;
  color: @color-content;
  line-height: 130%;
}
html {
  opacity: 0;
  .transition-duration(.5s);
}
html.open {
  opacity: 1;
}
.container {
  width: @base-container;
  margin: 0 auto;
}
/*helpers*/
.left {
  @left();
}
.right {
  @right();
}
/*==============Header================*/
.logo {
  @inline-block();
  width: 159px;
  height: 62px;
  margin: 14px 0 0;
  .retina-image('img/sprite',png,no-repeat,667px,62px,-508px,0);
}

.header {
  min-height: 90px;
}

.main-menu {
  margin: 34px 0 0;
  padding: 0;
  list-style: none;
  &__burger {
    position: absolute;
    right: 28px;
    top: 33px;
    width: 28px;
    height: 22px;
    .retina-image('img/sprite',png,no-repeat,667px,62px,-456px,0);
    display: none;
  }
  &__item {
    float: left;
    margin-right: 26px;
    &:last-child {
      margin-right: 0;
    }
    &--link {
      @inline-block();
      font-size: 20px;
      color: @color-content;
      padding-bottom: 4px;
      text-decoration: none;
      &:focus,
      &:hover,
      &.active {
        color: @color-title;
        text-decoration: none;
        border-bottom: 2px solid @base-style-btn;
      }
    }
  }
}
.opened .main-menu__burger {
  position: fixed;
  width: 23px;
  height: 23px;
  .retina-image('img/sprite',png,no-repeat,667px,62px,-484px,0);
  z-index: 10;
}
/*==============Header================*/

/*==============Banner================*/
.banner-img {
  height: 520px;
  position: relative;
  .image-2x('img/banner_desktop_hd.png', 100%, 520px);
  background-size: cover;
  .container {
    position: relative;
  }
}

.banner-slider {
  z-index: 10;
  padding: 0;
  margin: 0;
  &__holder {
    position: relative;
    width: 100%;
    padding-top: 180px;
  }
  &__item {
    position: relative;
    &--caption {
      width: auto;
      padding: 20px 10px 20px 23px;
      background: rgba(0,0,0,0.5);
      height: auto;
      margin-left: 72px;
      float: left;
      &-title {
        color: #fff;
        font-size: 40px;
        line-height: 130%;
        margin: 0;
      }
      &-text {
        color: #fff;
        font-size: 18px;
        line-height: 134%;
        margin: 9px 0 0;
      }
      &-info {
        color: #fff;
        font-size: 20px;
        line-height: 130%;
        margin: 28px 0 0;
        .date {
          margin-left: 20px;
        }
      }
    }
  }
}
.calendar-icon {
  @inline-block();
  background: url(img/calendar.png);
  width: 32px;
  height: 31px;
}
.join-btn {
  @right();
  font-size: @font-size-content;
  color: #fff;
  background: @color-content-title;
  .rounded(5px);
  padding: 7px 24px;
  text-decoration: none;
  position: relative;
  top: -5px;
  margin-right: 50px;
  &:focus,
  &:hover {
    background: @color-content-title + 4;
  }
}
/* arrows left right from plugins styles*/
.bx-wrapper .bx-prev {
  .retina-image('img/sprite',png,no-repeat,667px,62px,-420px,0);
}
.bx-wrapper .bx-next {
  .retina-image('img/sprite',png,no-repeat,667px,62px,-438px,0);
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 20px;
}
.bx-wrapper .bx-next {
  right: 20px;
}
/*==============/Banner================*/


/*==============Content================*/
.news,
.conference,
.members {
  @left();
  width: 34.29%;
  margin: 47px 0 0;
}
.members {
  width: 31.20%;
}
.title {
  font-size: @font-size-title;
  line-height: 134%;
  margin: 0 0 33px;
}

/* news list */
.feed-list {
  margin: 0;
  padding: 0 45px 0 0;
  list-style: none;
  &__item {
    margin-bottom: 23px;
    &:last-child {
      margin-bottom: 0;
    }
    &--date {
      font-size: @font-size-date;
      line-height: 125%;
      color: @color-date;
    }
    &--link {
      display: block;
      font-size: @font-size-content-title;
      color: @color-content-title;
      text-decoration: none;
      line-height: 125%;
      margin: 9px 0 0;
      &:hover {
        text-decoration: underline;
      }
    }
    &--content {
      font-size: @font-size-content;
      color: @color-content;
      line-height: 120%;
      margin: 10px 0 0;
    }
  }
}

/* Conference list */
.conference-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    position: relative;
    margin-bottom: 25px;
    padding-left: 23px;
    &:before {
      content: "";
      position: absolute;
      left: 1px;
      top: 3px;
      width: 8px;
      height: 8px;
      .rounded(50%);
      background: #C62A31;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &--date {
      font-size: @font-size-date;
      line-height: 125%;
      color: @color-date;
    }
    &--content {
      font-size: @font-size-content-title;
      color: @color-content;
      line-height: 125%;
      margin: 5px 0 0;
    }
  }
}

/* Member list*/
.member-list {
  padding: 0;
  margin: 0;
  counter-reset: ol-counter;
  &__item {
    list-style-type: none;
    position: relative;
    padding-left: 50px;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: counter(ol-counter);
      counter-increment: ol-counter;
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid @color-content-title;
      left: 1px;
      top: 0px;
      .rounded(50%);
      text-align: center;
      padding: 5px 0 0;
    }
    &--link {
      display: block;
      font-size: @font-size-content-title;
      color: @color-content-title;
      text-decoration: none;
      line-height: 125%;
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
    &--content {
      font-size: @font-size-content-title;
      color: @color-content;
      line-height: 125%;
      margin: 0;
    }
  }
}

/*==============Articles============*/
.articles-holder {
  margin: 46px 0 0;
}
.article-left {
  @left();
  width: 51.51%;
  padding-right: 30px;
  .article__image {
    @left();
    width: 200px;
    height: 200px;
    .image-2x('img/photo_1.png',200px,200px,no-repeat);
    margin: 0 23px 23px 0;
  }
}
.article__link {
  font-size: @font-size-content-title;
  color: @color-content-title;
  line-height: 125%;
  text-decoration: none;
  display: block;
  margin: 0 0 28px;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
.article-right {
  @right();
  width: 48.4%;
  .article__image {
    @right();
    width: 200px;
    height: 200px;
    .image-2x('img/photo_2.png',200px,200px,no-repeat);
    margin: 0 0 43px 23px;
  }
}
.article__content {
  margin-bottom: 4px;
  p {
    line-height: 115%;
    font-size: @font-size-content;
    color: @color-content;
    margin: 0 0 16px;
  }
}

/* social icons */
.social_holder {
  text-align: center;
  font-size: 0;
  margin: 52px 0 0;
}
.social-icon {
  @inline-block();
  width: 41px;
  height: 41px;
  margin: 0 45px;
  &.facebook {
    .retina-image('img/sprite',png,no-repeat, 667px, 62px, 0, 0);
  }
  &.twitter {
    .retina-image('img/sprite',png,no-repeat, 667px, 62px, -280px, 0);
  }
  &.linkedin {
    .retina-image('img/sprite',png,no-repeat, 667px, 62px, -210px, 0);
  }
  &.instagram {
    .retina-image('img/sprite',png,no-repeat, 667px, 62px, -140px, 0);
  }
  &.google {
    .retina-image('img/sprite',png,no-repeat, 667px, 62px, -70px, 0);
  }
  &.youtube {
    .retina-image('img/sprite',png,no-repeat, 667px, 62px, -350px, 0);
  }
}

/* content bg */
.content {
  background-color: @base-content-bg;
  .image-2x('img/textura.png', 1440px, 1329px, repeat);
  padding-bottom: 70px;
}

/*===========Footer===========*/
.footer {
  background: @base-style-btn;
  padding: 53px 0 55px;
  color: @color-footer;
  font-size: 13px;
  line-height: 115%;
  text-align: center;
}
.copy-left {
  @left();
}
.copy-right {
  @right();
}
.footer-menu {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 -53px;
  padding: 0;
  list-style: none;
  &__item {
    float: left;
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
    &--link {
      color: @color-footer;
      text-decoration: none;
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*================ Modal =============*/
.modal-open {
  overflow: hidden;
}

.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  overflow: auto;
  display: none;
}

.modal--overlay.open {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%,-50%);
  width: 544px;
  background: #fff;
  &__header {
    background: @color-content-title;
    margin: 0;
    padding: 14px 20px 15px;
    position: relative;
    &--title {
      margin: 0;
      color: #fff;
      font-size: 24px;
      line-height: 130%;
    }
    &--close {
      position: absolute;
      top: 18px;
      right: 19px;
      width: 23px;
      height: 23px;
      .retina-image('img/sprite',png,no-repeat,667px,62px,-484px,0);
    }
  }
  &__body {
    padding: 35px 40px;
    &--title {
      margin: 0 0 21px;
      font-size: 24px;
      color: @color-content-title;
      line-height: 120%;
    }
    &--content {
      font-size: 16px;
      color: @color-content;
      line-height: 120%;
      a {
        color: @color-content-title;
        text-decoration: none;
        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*=== media template ===*/

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .banner-img {
    .image-2x('img/banner_desktop.png', 100%, 520px);
  }
  .banner-slider__item--caption {
    margin-left: 62px;
  }
  .bx-wrapper .bx-controls-direction a {
    margin-top: -23px;
  }
  .bx-wrapper .bx-next {
    right: 0;
  }
  .bx-wrapper .bx-prev {
    left: 0;
  }
  .banner-slider__holder {
    padding-top: 152px;
  }
  .feed-list {
    padding-right: 35px;
  }
  .news {
    width: 39.6%;
  }
  .conference {
    width: 34.6%;
  }
  .members {
    width: 25.8%;
  }
  .article-left .article__image {
    margin: 0 18px 23px 0;
  }
  .article-right .article__image {
    margin: 0 0 43px 18px;
  }
  .article-left {
    width: 50.51%;
  }
  .article-right {
    width: 49.4%;
  }
  .social_holder {
    margin: 42px 0 0;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
  .banner-img {
    .image-2x('img/banner_tablet.png', 100%, 490px);
    height: 490px;
  }
  .banner-slider__holder {
    padding-top: 138px;
  }
  .bx-wrapper .bx-controls-direction a {
    display: none;
  }
  .banner-slider__item {
    text-align: center;
    &--caption {
      float: none;
      @inline-block();
      text-align: left;
      margin: 0;
    }
  }
  .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: -116px;
  }
  .news {
    width: 100%;
    float: none;
  }
  .title {
    font-size: 28px;
    margin-bottom: 31px;
  }
  .feed-list__item--link {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .feed-list__item {
    margin-bottom: 32px;
  }
  .feed-list__item--content {
    font-size: 16px;
    line-height: 135%;
  }
  .conference {
    width: 62.5%;
  }
  .article-left {
    width: 100%;
    float: none;
    margin-bottom: 47px;
    .article__image {
      margin: 0 31px 21px 0;
      width: 307px;
      height: 307px;
      .image-2x('img/photo_tablet_1.png',307px,307px,no-repeat);
    }
  }
  .article-right {
    width: 100%;
    float: none;
    .article__image {
      width: 307px;
      height: 307px;
      .image-2x('img/photo_tablet_2.png',307px,307px,no-repeat);
    }
  }
  .article__link {
    font-size: 24px;
  }
  .article__content {
    margin-bottom: 0;
    p {
      font-size: 18px;
      margin: 0 0 4px;
      line-height: 120%;
    }
  }
  .social_holder {
    margin: 75px 0 0;
  }
  .social-icon {
    margin: 0 30px;
  }
  .footer-menu {
    margin-left: -13px;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 100%;
    left: 0;
    top: 0;
    .translate(0, 0);
    &__body {
      padding: 22px 20px;
    }
  }
  .article-left {
    .article__image {
      margin: 0 auto 21px;
      width: 280px;
      height: 280px;
      .image-2x('img/photo_mobile_1.png',280px,280px,no-repeat);
      float: none;
    }
  }
  .article-right {
    .article__image {
      margin: 0 auto 21px;
      width: 280px;
      height: 280px;
      .image-2x('img/photo_mobile_2.png',280px,280px,no-repeat);
      float: none;
    }
  }
  .conference,
  .members {
    float: none;
    width: 100%;
  }
  .banner-slider__holder {
    padding-top: 20px;
  }
  .banner-slider__item--caption {
    width: auto;
    height: auto;
  }

  .main-menu {
    width: 0;
    height: 100%;
    z-index: 5;
    position: fixed;
    background: rgba(198,42,49,0.7);
    top: 0;
    right: 0;
    .transition-duration(.5s);
    margin: 0;
    padding: 113px 0 0;
    &__burger {
      display: block;
    }
    &__item {
      float: none;
      margin-right: 27px;
      text-align: right;
      &:last-child {
        margin-right: 27px;
      }
      &--link {
        font-size: 24px;
        color: #fff;
        padding-bottom: 31px;
        &:focus,
        &:hover,
        &.active {
          color: #FFA4A4;
          border-bottom: none;
        }
      }
    }
  }
  .opened .main-menu {
    width: 50%;
  }
  .feed-list {
    padding-right: 0;
  }
  .social-icon {
    width: 29px;
    height: 29px;
    margin: 0 20px;
    &.facebook {
      .retina-image('img/sprite',png,no-repeat, 667px, 62px, -41px, 0);
    }
    &.twitter {
      .retina-image('img/sprite',png,no-repeat, 667px, 62px, -321px, 0);
    }
    &.linkedin {
      .retina-image('img/sprite',png,no-repeat, 667px, 62px, -251px, 0);
    }
    &.instagram {
      .retina-image('img/sprite',png,no-repeat, 667px, 62px, -181px, 0);
    }
    &.google {
      .retina-image('img/sprite',png,no-repeat, 667px, 62px, -111px, 0);
    }
    &.youtube {
      .retina-image('img/sprite',png,no-repeat, 667px, 62px, -391px, 0);
    }
  }
  .copy-left,
  .copy-right {
    float: none;
  }
  .footer-menu {
    margin: 20px 0;
  }
  .article-left {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .social-icon {
    margin: 0 8px;
  }
  .banner-slider__item--caption {
    padding: 23px 5px 20px 21px;
    &-info {
      font-size: 17px;
      margin: 21px 0 0;
      .date {
        margin-left: 7px;
      }
    }
    &-title {
      font-size: 32px;
      line-height: 116%;
    }
    &-text {
      br {
        display: none;
      }
    }
  }
  .join-btn {
    display: block;
    float: none;
    width: 110px;
    margin: 28px auto 0;
  }
  .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: -46px;
  }
  .container {
    padding: 0 20px;
  }
  .banner-img {
    .image-2x('img/banner_mobile.png', 100%, 415px);
    height: 415px;
  }
}