/* Default variables */

@base-font: 'pt_sansregular', Arial, sans-serif;
@font-size-content: 14px;
@font-size-content-title: 16px;
@font-size-title: 24px;
@font-size-date: 12px;

@color-content: #778081;
@color-content-title: #C62A31;
@color-title: #454545;
@color-date: #000;
@color-footer: #fff;

@base-style-btn: #C62930;
@base-content-bg: #FBFBFC;

@base-container: 1025px;
@row-space: -15px;

@inline-block: { display: inline-block; vertical-align: middle; };
@left: { float: left; };
@right: { float: right; };